API_ID = 28053542
API_HASH = 37f3f41000071041735523fab66d2355
BOT_TOKEN = 6634033784:AAFNuM3mfmBwPEB_-LrTMRqhAsYlJmppJ2A
MONGO_DB_URI = mongodb+srv://acha:acha@cluster0.pjq3j.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
LOG_GROUP_ID = -1001811570648
MUSIC_BOT_NAME = AAROHI MUSIC BOT
OWNER_ID = 6317886844
DURATION_LIMIT = 600
STRING_SESSION = BQBHgRSoa9BqCUAQ6sf7PLplncQjAK6QGTmlb3fmgISOq796Cysd1erEdVy7_vfOGBD0C7ci5qnO0tJQGIESm7y-n068y01c6coE4zrUQrfDmtRWvo1PVWKt61HMqaI2NW8MISTlD9135bYDCi0fdQhJaTU8bjH_niw6imFPSSwPXjX1yATq5zHL5QuLtc8b24Yy3vqxA0lYO7ECXoijDQASthq8ruAnxzzBu6LGUlMb4Q28ekgapfgRKJBhmTw7pYBxOnxLXOjjuocvh2V83nrADHDdVTMKBh0gub3s5nYin3hVFd9LdV0ZWuZvJ3lJaVbI1u5JnGsmn7tRZ7rYFbk9AAAAAXiTTXwA
SUPPORT_GROUP = https://t.me/+_6KcBmU8uWFjNmU1
SUPPORT_CHANNEL = https://t.me/ArchBots
AUTO_SUGGESTION_MODE = true
AUTO_SUGGESTION_TIME = 4000
SPOTIFY_CLIENT_ID = cedb7e72e71a4ffb924507be68de51ca
SPOTIFY_CLIENT_SECRET = c053dde8eafa44caa05269363088820c
PING_IMG_URL = https://telegra.ph//file/23c43918913f41bf6f441.jpg
START_IMG_URL = https://telegra.ph//file/23c43918913f41bf6f441.jpg
STATS_IMG_URL = https://telegra.ph//file/c1d55386123828ae3623b.jpg

